.user-List {
  width: max-content;
  border: 1px solid rgb(226, 126, 126);
  border-radius: 16px;
  padding: 8px;
  margin: 12px;
  display: flex;
  gap: 18px;

  align-items: center;
  /* background-color: rgba(127, 255, 212, 0.626); */
  background-color: rgb(255 127 127 / 22%);
}

.avatar {
  border-radius: 50%;
  padding: 16px;
}

.display-container {
  display: flex;
  /* gap: 18px; */
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn-style {
  padding: 12px;
  margin: 8px;
  background-color: rgb(255 127 127 / 22%);
  border: 1px solid rgb(226, 126, 126);
  border-radius: 10px;
  cursor: pointer;
}
